<h1>Listing specials</h1>
<a href="/uploads/new/">Upload Special</a>

<table border="1" cellpadding="10">
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Purchaser</th>
    <th>Store</th>
    <th>Address</th>
    <th>Count</th>
    <th>Destroy</th>
  </tr>

<% @specials.each do |special| %>
  <tr>
    <td><%= special.description %></td>
    <td>$<%= special.price %></td>
    <td><%= special.purchaser.name %></td>
    <td><%= special.store.name %></td>
    <td><%= special.store.merchant_stores %></td>
    <td><%= special.count %></td>
    <td><%= link_to 'Destroy', special, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />